.home-top-banner{
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 550px;
  background-image:linear-gradient(180deg, rgba(0,0,0,0.30) 0%, rgba(0,0,0,0) 100%),
  url('https://assets.bigdey.com/images/home/02.jpg');
}